<h1 class="mb-1 restaurant-show-title">新增餐廳</h1>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">

      <form action="/restaurants" method="post">
        
        <p class="mb-1">
          <label for="name" class="text-secondary">
            <i class="fas fa-concierge-bell pr-2"></i>
            店名：
          </label>
          <input type="text" placeholder="麥當勞" name="name" id="name" required>
        </p>

        <p class="mb-1">
          <label for="name_en" class="text-secondary">
            <i class="fas fa-concierge-bell pr-2"></i>
            店名(英)：
          </label>
          <input type="text" placeholder="McDonald's" name="name_en" id="name_en" required>
        </p>

        <p class="mb-1">
          <label for="category" class="text-secondary">
            <i class="fas fa-utensils pr-2"></i>
            類別：
          </label>
          <input type="text" placeholder="美式速食" name="category" id="category" required>
        </p>

        <p class="mb-1">
          <label for="location" class="text-secondary">
            <i class="fas fa-map-marker-alt pr-2"></i>
            地址：
          </label>
          <input type="text" placeholder="台北市中山區北安路626號1樓" name="location" id="location" style="width: 350px" required>
        </p>

        <p class="mb-1">
          <label for="google_map" class="text-secondary">
            <i class="fas fa-location-arrow pr-2"></i>
            Google Map連結：
          </label>
          <input type="url" placeholder="https://goo.gl/maps/S6WJJgjqW9sghLm39" name="google_map" id="google_map" style="width: 350px" required>
        </p>

        <p class="mb-1">
          <label for="phone" class="text-secondary">
            <i class="fas fa-mobile-alt pr-2"></i>
            電話：
          </label>
          <input type="tel" placeholder="02 2533 6263" name="phone" id="phone" required>
        </p>

        <p class="mb-1">
          <label for="rating" class="text-secondary">
            <i class="fas fa-star pr-1"></i>
            評分：
          </label>
          <input type="number" placeholder="3.8" name="rating" id="rating" min="0" max="5" step="0.1" required>
        </p>

        <p class="mb-1">
          <label for="description" class="text-secondary">
            <i class="fas fa-info-circle pr-1"></i>
            描述：
          </label>
        </p>
        <textarea placeholder="描述" name="description" id="description" rows="3" cols="75" required></textarea>

        <p class="mb-1">
          <label for="image" class="text-secondary">
            <i class="far fa-image pr-2"></i>
            圖片連結：
          </label>
          <input type="url" placeholder="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5628/02.jpg" name="image" id="image" style="width: 350px" required>
        </p>

        <div class="mb-5 mt-5 d-flex justify-content-between">
          <a href="/" class="btn btn-primary btn-sm">首頁</a>
          <button type="submit" class="btn btn-warning btn-sm mr-2">新增餐廳</button>
        </div>

      </form>
      
    </div>
  </div>
</div>